baseurl: "" # the subpath of your site, e.g. /blog
url: "https://adamdavies.dev" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown
permalink: pretty
plugins:
  - jekyll-sitemap
compress_html:
  clippings: all
  comments: all
  startings: [html, head, body]

# Collections
collections:
  projects:
    output: true
    permalink: /:collection/:name/

# Pages Path
defaults:
  - scope:
      path: "_pages"
    values:
      permalink: /:basename:output_ext
  - scope:
      path: "_projects"
      type: "projects"
    values:
      layout: "page"

include:
  - _pages

sass:
  sass_dir: assets/scss
  style: compressed

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE.text
  - README.md
  - SECURITY.md
