version: '3.8'

services:
  jekyll:
    image: jekyll/jekyll:4.2.2
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
      - bundle_cache:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development
    command: sh -c "bundle install && bundle exec jekyll serve --host 0.0.0.0 --port 4000 --force_polling"
    working_dir: /srv/jekyll

volumes:
  bundle_cache:
