<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title }}</h1>
      </div>
    </div>
  </div>
  <!-- Background image removed - using code decorations instead -->
  <div class="layer" id="l2">
    <div class="code-element git-dots">
      <div class="git-dot"></div>
      <div class="git-dot"></div>
      <div class="git-dot"></div>
      <div class="git-dot"></div>
    </div>
  </div>
  <div class="layer" id="l3">
    <div class="code-element code-bracket-1">{</div>
  </div>
  <div class="layer" id="l4">
    <div class="code-element terminal-cursor"></div>
  </div>
  <div class="layer" id="l5">
    <div class="code-element binary-code">101010<br>110011<br>001101</div>
  </div>
  <div class="layer" id="l6">
    <div class="code-element code-symbol-1">&lt;/&gt;</div>
  </div>
  <div class="layer" id="l7">
    <div class="code-element code-snippet">function hello() {<br>&nbsp;&nbsp;return 'world';<br>}</div>
  </div>
  <div class="layer" id="l8">
    <div class="code-element code-bracket-2">}</div>
  </div>
  <div class="layer" id="l9">
    <div class="code-element json-object">{<br>&nbsp;&nbsp;"name": "Adam",<br>&nbsp;&nbsp;"role": "Engineer"<br>}</div>
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->