/* Error: expected "{".
 *    ,
 * 15 | @import 'variables';
 *    |                    ^
 *    '
 *   assets/scss/style.scss 15:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 15 \2502  @import 'variables';\a    \2502                     ^\a    \2575 \a   assets/scss/style.scss 15:20  root stylesheet";
}
