---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div class="code-element code-symbol-2 bg-shape-2" style="top: 20%; right: 25%;">&lt;div&gt;</div>
  <div class="code-element binary-code bg-shape-3" style="top: 45%; left: 20%;">010101<br>111000<br>100110</div>
  <div class="code-element code-bracket-1 bg-shape-4" style="bottom: 40%; right: 30%;">)</div>
  <div class="code-element git-dots bg-shape-5" style="bottom: 30%; left: 30%;">
    <div class="git-dot"></div>
    <div class="git-dot"></div>
    <div class="git-dot"></div>
  </div>
  <div class="code-element json-object bg-shape-6" style="top: 25%; left: 25%;">{
    "skills": ["Java", "React"]
  }</div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="{{ site.baseurl }}/{{ page.signature }}" alt="signature" class="img-fluid">
        <h4>{{ page.author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
