---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div class="code-element git-dots bg-shape-2" style="top: 30%; right: 25%;">
    <div class="git-dot"></div>
    <div class="git-dot"></div>
  </div>
  <div class="code-element code-symbol-2 bg-shape-3" style="top: 40%; left: 20%;">( )</div>
  <div class="code-element terminal-cursor bg-shape-4" style="bottom: 35%; right: 30%;"></div>
  <div class="code-element json-object bg-shape-6" style="top: 20%; left: 25%;">{
    "page": true
  }</div>
  <div class="code-element binary-code bg-shape-5" style="bottom: 45%; left: 20%;">001111<br>101010</div>
  <div class="code-element code-bracket-1 bg-shape-6" style="top: 35%; right: 35%;">></div>
  <div class="code-element code-snippet bg-shape-7" style="bottom: 25%; right: 25%;">console.log('hello');</div>
</section>
<!-- /page title -->

{{ content }}